/*
  OF COURSE THIS IS THE HTML5 ✰ Boilerplate
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}body{font:13px/1.231 sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}h1,h2,h3,h4,h5,h6{font-weight:bold}a:hover,a:active{outline:none}a,a:active,a:visited{color:#607890}a:hover{color:#036}ul,ol{margin-left:2em}ol{list-style-type:decimal}nav ul,nav li{margin:0}small{font-size:85%}strong,th{font-weight:bold}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-0.5em}sub{bottom:-0.25em}pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:#ff5e99;color:#fff;text-shadow:none}::selection{background:#ff5e99;color:#fff;text-shadow:none}a:link{-webkit-tap-highlight-color:#ff5e99}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}.hidden{display:none;visibility:hidden}.visuallyHidden{border:0!important;clip:rect(0 0 0 0);height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}

body,select,input,textarea{color:hsl(188,73%,90%);text-shadow:1px 1px 1px hsl(300,0%,0%);font:14px/24px helvetica,arial,sans-serif}
a, a:visited {color:hsl(188,73%,85%); }
a:hover { color:hsl(188,73%,75%);}

 /* Primary Styles
    Author: Paul Irish and some hookups from Divya Manian
 */
/* Thanks Lea Verou: leaverou.me/demos/css3-patterns.html and Divya Manian for the implementation. */

html { min-height: 100%; }
html { 
  background: hsl(68, 1%, 28%); 

  background-image: -webkit-gradient(linear, 0 50%, 0 100%, from(transparent), to(hsla(300, 0%, 0%, 0.8))),
              -webkit-gradient(linear, 0 100%, 100% 0,                             
              color-stop(.25, hsla(300, 0%, 100%, 0.08)), color-stop(.25, transparent),
              color-stop(0.5, transparent), color-stop(0.5, hsla(300, 0%, 100%, 0.08)),
              color-stop(.75, hsla(300, 0%, 100%, 0.08)), color-stop(.75, transparent),
              to(transparent)), 
              -webkit-gradient(linear, 0 0, 100% 100%,                             
              color-stop(.25, hsla(300, 0%, 100%, 0.08)), color-stop(.25, transparent),
              color-stop(0.5, transparent), color-stop(0.5, hsla(300, 0%, 100%, 0.08)),
              color-stop(.75, hsla(300, 0%, 100%, 0.08)), color-stop(.75, transparent),
              to(transparent));   
  background-image: -moz-linear-gradient(transparent, hsla(300, 0%, 0%, 0.8)), 
            -moz-linear-gradient(45deg, hsla(300, 0%, 0%, 0.08) 25%, transparent 25%,
            transparent 50%, hsla(300, 0%, 0%, 0.08) 50%, hsla(300, 0%, 0%, 0.08) 75%,
            transparent 75%, transparent),
            -moz-linear-gradient(-45deg, hsla(300, 0%, 0%, 0.08) 25%, transparent 25%,
                      transparent 50%, hsla(300, 0%, 0%, 0.08) 50%, hsla(300, 0%, 0%, 0.08) 75%,
                      transparent 75%, transparent);
  background-image: -o-linear-gradient(transparent, hsla(300, 0%, 0%, 0.8)), 
            -o-linear-gradient(45deg, hsla(300, 0%, 0%, 0.08) 25%, transparent 25%,
            transparent 50%, hsla(300, 0%, 0%, 0.08) 50%, hsla(300, 0%, 0%, 0.08) 75%,
            transparent 75%, transparent),
            -o-linear-gradient(-45deg, hsla(300, 0%, 0%, 0.08) 25%, transparent 25%,
                      transparent 50%, hsla(300, 0%, 0%, 0.08) 50%, hsla(300, 0%, 0%, 0.08) 75%,
                      transparent 75%, transparent);  
  background-image: linear-gradient(transparent, hsla(300, 0%, 0%, 0.8)), 
            linear-gradient(45deg, hsla(300, 0%, 0%, 0.08) 25%, transparent 25%,
            transparent 50%, hsla(300, 0%, 0%, 0.08) 50%, hsla(300, 0%, 0%, 0.08) 75%,
            transparent 75%, transparent),
            linear-gradient(-45deg, hsla(300, 0%, 0%, 0.08) 25%, transparent 25%,
                      transparent 50%, hsla(300, 0%, 0%, 0.08) 50%, hsla(300, 0%, 0%, 0.08) 75%,
                      transparent 75%, transparent);  
}

body { margin:0; padding: 0px; font-family: 'PT Sans', 'Corben', sans-serif; font-weight: bold;}

#main { margin: 20px auto 0; padding:20px 20px 10px; width: 908px; position: relative;
-moz-border-radius: 6px; -webkit-border-radius:6px;	border-radius: 6px; 
}

h1 { font: 60px/68px Sniglet, 'ChunkFiveRegular', Arial, sans-serif; margin: 0 auto; text-align: center; }
h1 span { display: block; color: white; }
canvas { 
  height: 250px; width: 99%; 
	outline: 4px solid rgba(255,255,255,.6); margin-bottom: .4em; position:relative; cursor: crosshair;
	-moz-outline-radius:3px; -webkit-outline-radius:3px; -o-outline-radius: 3px; outline-radius: 3px; 
	-moz-box-shadow: 0 1px 10px hsla(200, 5%, 10%, .5);
	-webkit-box-shadow: 0 1px 10px hsla(200, 5%, 10%, .5);
	box-shadow: 0 1px 10px hsla(200, 5%, 10%, .5); 	
}
#loading { width: 100%; display:block; position:relative; top: -150px; text-align: center; z-index: -1;}    
label + fieldset { margin-top: -10px;}             
fieldset { margin: 0 auto; width: 325px; margin-bottom: 1em;  }
fieldset label { display: block; }
label span { display: inline-block; width: 10em; text-align: right; margin-right: 1em; }
label:active span { font-weight: bold; }
footer { text-align: center; margin: 10px 0; }
label#sat { position: absolute; /* to not muck with flow */  letter-spacing: 10px;
  -webkit-transform:rotate(90deg) translate(-175px,60px); -moz-transform:rotate(90deg) translate(-175px,60px); -o-transform:rotate(90deg) translate(-175px,60px); transform:rotate(90deg) translate(-175px,60px);
}
p { font-size: 16px; border: 1px solid hsl(0,0%,30%); padding: 7px;}


p + p { font-size: 14px; border: none; }

code { background: hsla(0,0%,90%,0.2); font-size: 15px; padding: 0 2px;}


.fd-slider { width: 250px!important;}
.fd-slider-bar { width: auto; }


/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  

}

@media all and (orientation:landscape) {


}

@media screen and (max-device-width: 480px) {

}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

